.boxshadow {
  box-shadow: 3px 3px 3px grey;
  width: 400px;
  text-shadow: 2px 2px 4px purple;
}

.color:hover {
  background-color: rosybrown;
}

.color {
  background-color: hotpink;
  box-shadow: 4px 4px 4px grey;
  width: 400px;
}

#rdmimg {
  width: 500px;
  height: 400px;
}

#rdmimg:active {
  width: 1350px;
  height: 767px;
  color: red;
}
